@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

/* Kontora.cc CSS v.0.0 */
/* Kontora, 07.2020 */

:root {
    --Black100: rgba(0, 0, 0, 1);
    --Black92: rgba(0, 0, 0, .92);
    --Black64: rgba(0, 0, 0, .64);
    --Black56: rgba(0, 0, 0, .56);
    --Black32: rgba(0, 0, 0, .32);
    --Black20: rgba(0, 0, 0, .2);
    --Black16: rgba(0, 0, 0, .16);
    --Black6: rgba(0, 0, 0, .06);
    --Black4: rgba(0, 0, 0, .04);

    --LightBlack100: #252525;

    --Gray100: #AFAFAF;

    --White100: rgba(255, 255, 255, 1);
    --White56: rgba(255, 255, 255, .56);
    --White40: rgba(255, 255, 255, .4);
    --White32: rgba(255, 255, 255, .32);
    --White28: rgba(255, 255, 255, 0.28);
    --White20: rgba(255, 255, 255, 0.2);
    --White16: rgba(255, 255, 255, .16);

    --Green100: #CCFF00;

    --Blue100: #0055FF;
    --Blue56: rgba(0, 85, 255, .56);
    --Blue32: rgba(0, 85, 255, .32);
    --Blue16: rgba(0, 85, 255, .16);

    --Red100: #E6303B;

    --font-default: 'Inter var', sans-serif;
    --font-serif: 'Wremena', 'Times', 'Times New Roman', serif;
    --font-sweet: 'Nunito', 'Inter var', sans-serif;

    --widthxheight1000: calc((100vw - 14.4rem) / 4);
    --widthxheight1340: calc((100vw - 16.4rem) / 5);
}

@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url('fonts/Inter.var.woff2') format("woff2");
}

@font-face {
	font-family: 'Wremena';
	font-weight: normal;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url('fonts/wremena_regular-webfont.woff2') format('woff2'),
         url('fonts/wremena_regular-webfont.woff') format('woff');
}



.hidden {
    display: none !important;
}



/* CSS reset */

html,
body {
    border: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
    border: none;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
}

blockquote::before,
blockquote::after {
    content: "";
}



/* Document Setup */

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background-color: var(--White100);
    box-sizing: border-box;
    color: var(--Black100);
    font-family: var(--font-default);
    font-size: 1.2rem;
    letter-spacing: -.02em;
    line-height: 117%;
    text-align: left;
}

main>section {
    min-height: 60vh;
}

/*main>section:not(:first-child) {
    margin-top: 14rem;
}*/

a {
    color: var(--Blue100);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    letter-spacing: -.02em;
}

h1 {
    font-size: 6.4rem;
    line-height: 6rem;
}

h2 {
    font-size: 5.2rem;
    line-height: 4.4rem;
}

h3 {
    font-size: 4rem;
    line-height: 4.8rem;
}

h4 {
    font-size: 3.2rem;
    line-height: 3.6rem;
}

.section-subheader {
    font-size: 2.8rem;
    letter-spacing: -.02em;
    line-height: 3.6rem;
    margin-top: 3.6rem;
    max-width: 72rem;
}

.mainpage-section-header {
    display: inline-block;
    z-index: 1;
}
.mainpage-section-header::after {
    background: var(--Black100);
    content: '';
    display: inline-block;
    height: .45rem;
    margin: 0 1.2rem;
    position: relative;
    top: -1.6rem;
    width: 10rem;
}

.page-section-header {
    color: var(--Black100);
    display: inline-block;
}

.section-header-sup {
    display: inline-block;
    margin: -2.4rem 0 0 1.1rem;
    position: absolute;
}

.mainpage-section-header-sup {
    color: var(--Gray100);
}

.mainpage-section-header-sup-span {
    display: block;
    margin-left: -.8rem;
}

.page-section-header-sup {
    color: var(--Gray100);
}

p {
    font-size: 2rem;
    line-height: 2.8rem;
    margin: 1.2rem 0;
}

sup,
sub,
.font-small {
    font-size: 1.2rem;
    letter-spacing: -.02em;
    line-height: 1.4rem;
}

sup,
sub {
    display: inline-block;
    margin-left: .4rem;
}

label {
    font-size: 2rem;
}

.input-wrapper {
    margin-bottom: 3.6rem;
    position: relative;
}

.input-wrapper input[type="text"],
.input-wrapper input[type="email"],
.input-wrapper input[type="tel"],
.input-wrapper textarea {
    box-sizing: border-box;
    border-color: var(--Black100);
    border-style: solid;
    border-width: 0 0 3px 0;
    border-radius: 0;
    cursor: text;
    font-size: 2rem;
    line-height: 2.8rem;
    outline: 0;
    padding: 2.4rem 0 1.2rem;
    width: 100%;
    -webkit-transition: all 0.175s ease-in-out;
            transition: all 0.175s ease-in-out;
}

.input-wrapper input[type="text"] + label[data-placeholder],
.input-wrapper input[type="email"] + label[data-placeholder],
.input-wrapper input[type="tel"] + label[data-placeholder], 
.input-wrapper textarea + label[data-placeholder] {
    pointer-events: none;
}
.input-wrapper input[type="text"] + label[data-placeholder]:after,
.input-wrapper input[type="email"] + label[data-placeholder]:after,
.input-wrapper input[type="tel"] + label[data-placeholder]:after,
.input-wrapper textarea + label[data-placeholder]:after {
    content: attr(data-placeholder);
    cursor: text;
    color: var(--Gray100);
    font-size: 2rem;
    display: block;
    padding: 0;
    position: absolute;
    top: 4rem;
    left: 0;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    -webkit-transition: all 0.175s ease-in-out;
            transition: all 0.175s ease-in-out;
}

.input-wrapper input[type="text"]:hover,
.input-wrapper input[type="email"]:hover,
.input-wrapper input[type="tel"]:hover,
.input-wrapper textarea:hover,
.input-wrapper input[type="text"]:focus,
.input-wrapper input[type="email"]:focus,
.input-wrapper input[type="tel"]:focus,
.input-wrapper textarea:focus {
    border-bottom-color: var(--Blue100);
}
.input-wrapper input[type="text"]:valid,
.input-wrapper input[type="email"]:valid,
.input-wrapper input[type="tel"]:valid,
.input-wrapper textarea:valid {
    border-bottom-color: var(--Green100);
}
.input-wrapper input[type="text"]:focus + label[data-placeholder]:after,
.input-wrapper input[type="email"]:focus + label[data-placeholder]:after,
.input-wrapper input[type="tel"]:focus + label[data-placeholder]:after,
.input-wrapper textarea:focus + label[data-placeholder]:after,
.input-wrapper input[type="text"]:valid + label[data-placeholder]:after,
.input-wrapper input[type="email"]:valid + label[data-placeholder]:after,
.input-wrapper input[type="tel"]:valid + label[data-placeholder]:after,
.input-wrapper textarea:valid + label[data-placeholder]:after {
    -webkit-transform: translate(-10%, -280%) scale(0.8, 0.8);
            transform: translate(-10%, -280%) scale(0.8, 0.8);
    color: var(--Gray100);
}

button,
.button {
    background-color: var(--Black6);
    border-radius: 100px;
    color: var(--Black100);
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    padding: 2.4rem;
    transition: background-color .1s linear,
                color .1s linear,
                transform .175s ease-in-out;
}
button:hover,
.button:hover {
    background-color: var(--Black100);
    color: var(--White100);
    transform: translateY(-.6rem);
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    border: 1.5px dotted var(--Black16);
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 1.6rem 2rem 1rem;
    text-align: center;
    transition: background-color .1s linear,
                border-color .1s linear,
                color .1s linear;
}
input[type="radio"] + label:not(:last-child) {
    margin-right: 1.2rem;
}

input[type="radio"] + label:hover {
    border-color: var(--Blue100);
    color: var(--Blue100);
}

input[type="radio"]:checked + label {
    cursor: default;
    border-color: var(--Blue100);
    background-color: var(--Blue100);
    color: var(--White100);
}

input[type="radio"] + label > .font-small {
    display: block;
    font-weight: 500;
    margin-top: .8rem;
    opacity: .4;
    transition: opacity .1s linear;
}

input[type="radio"] + label:hover > .font-small {
    opacity: 1;
}
input[type="radio"]:checked + label:hover > .font-small {
    opacity: .4;
}

.link-underline-solid {
    border-bottom: .5px solid;
}

.link-underline-dashed {
    border-bottom: .5px dashed;
}

.icon-svg {
    max-width: 4.4rem;
    max-height: 4.4rem;
}

video {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

* ,
* ::before,
* ::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
    word-wrap: break-word;
}

::selection {
    /*background: var(--Blue100);
    color: var(--White100);*/
    background: var(--Green100);
    color: var(--LightBlack100);
}



/* Base Transitions */

a {
    transition: color .175s linear, border-bottom-color .175s linear;
}



@media (min-width: 0) {
    .on-desktop-and-tablet {
        display: none;
    }

    .on-mobile {
        display: block;
    }

    .only-desktop {
        display: none;
    }
}

@media (min-width: 640px) {
    .on-desktop-and-tablet {
        display: block;
    }

    .on-mobile {
        display: none;
    }

    .only-desktop {
        display: none;
    }
}

@media (min-width: 1100px) {
    .only-desktop {
        display: block;
    }
}



/* Icons */

.icon-search-svg>use {
    fill: var(--White100);
}



/* Logo */

.logo {
    color: var(--White100);
    font-family: var(--font-serif);
    font-size: 2.4rem;
    line-height: 2.4rem;
}

.logo-sup {
    font-size: 1.4rem;
    font-family: var(--font-default);
    font-weight: 200;
    position: absolute;
    margin: 0 0 0 -.05rem;
}



/* Header */

header {
    color: var(--White32);
    mix-blend-mode: exclusion;
    padding: 3.2rem 2.8rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

header>div {
    display: inline-block;
}

header a { 
    color: var(--White32);
}
header a:hover {
    color: var(--White100);
}

header a.link-underline-solid,
header a.link-underline-dashed { 
    border-bottom-color: var(--White16);
}
header a.link-underline-solid:hover,
header a.link-underline-dashed:hover { 
    border-bottom-color: var(--White100);
}

/*.nav-header,
.about-cont,
.contacts-header {
    margin-top: .6rem;
}*/

.nav-header {
    display: none;
}

.button-buy-design {
    background: #99E0FF;
    box-shadow: 0px 2px 12px rgba(0, 148, 255, 0.64), 0px 12px 48px rgba(0, 148, 255, 0.8), inset 1px 1px 0px rgba(255, 255, 255, 0.44), inset -1px -1px 0px #0161BB, inset -1px -1px 2px #0269C9, inset 1px 1px 2px rgba(255, 255, 255, 0.72), inset 0px -8px 12px #0178E7, inset 0px -24px 20px #41B1E2;
    padding: 1.3rem 2.4rem 1.6rem;
    transition: transform .175s ease-in-out, box-shadow .25s ease-in-out;
}

.button-buy-design:hover {
    background: #99E0FF;
    box-shadow: 0px 12px 48px rgba(0, 148, 255, 0.72), 0px 28px 160px rgba(0, 148, 255, 1), inset 1px 1px 0px rgba(255, 255, 255, 0.24), inset -1px -1px 0px #0161BB, inset -1px -1px 2px #0269C9, inset 1px 1px 2px rgba(255, 255, 255, 0.44), inset 0px -4px 12px #0178E7, inset 0px -20px 16px #41B1E2;
    transform: translateY(-1.2rem);
}

.button-buy-design:before {
    content: '🛒';
    display: inline-flex;
    font-size: 6rem;
    line-height: 5rem;
    margin-right: .8rem;
    vertical-align: top;
    position: relative;
    top: .8rem;
    text-shadow: 3px 3px 5px #41B1E2, 1px 1px 2px rgba(1, 120, 231, 0.24);
    transition: text-shadow .25s ease-in-out;
}
.button-buy-design:hover::before {
    text-shadow: 2px 3px 3px #41B1E2, 0 1px 1px rgba(1, 120, 231, 0.32);
}

.button-buy-design-sign {
    color: #F6F6F6;
    display: inline-block;
    font-family: var(--font-sweet);
    font-size: 3rem;
    font-weight: 800;
    line-height: 2.8rem;
    letter-spacing: -0.02em;
    text-shadow: 1px 1px 2px rgba(1, 120, 231, 0.24), 3px 3px 5px #41B1E2;
    vertical-align: top;
    transition: text-shadow .25s ease-in-out;
}
.button-buy-design:hover .button-buy-design-sign {
    text-shadow: 0 1px 1px rgba(1, 120, 231, 0.32), 2px 3px 3px #41B1E2;
}



/* Contacts */



.contacts-top-section {
    float: right;
    margin-right: 2.8rem;
    position: relative;
    z-index: 2;
}

.contacts-top-section-inner {
    display: inline-block;
}

.contacts-top-section>div:not(:last-child) {
    margin-right: 1.6rem;
}



/* Content */

.bg-black-flag {
    background-color: var(--Black100);
    position: absolute;
    top: 0;
    right: 0;
    bottom: -16rem;
    left: 0;
    z-index: -1;
}
.bg-black-flag::after {
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0.991353) 6.67%, rgba(255, 255, 255, 0.96449) 13.33%, rgba(255, 255, 255, 0.91834) 20%, rgba(255, 255, 255, 0.852589) 26.67%, rgba(255, 255, 255, 0.768225) 33.33%, rgba(255, 255, 255, 0.668116) 40%, rgba(255, 255, 255, 0.557309) 46.67%, rgba(255, 255, 255, 0.442691) 53.33%, rgba(255, 255, 255, 0.331884) 60%, rgba(255, 255, 255, 0.231775) 66.67%, rgba(255, 255, 255, 0.147411) 73.33%, rgba(255, 255, 255, 0.0816599) 80%, rgba(255, 255, 255, 0.03551) 86.67%, rgba(255, 255, 255, 0.0086472) 93.33%, rgba(255, 255, 255, 0) 100%);
    content: '';
    display: block;
    height: 26rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.nav-main-link-wrapper {
    color: var(--White100);
    font-size: 6.4rem;
    height: 6.8rem;
    letter-spacing: -.02em;
    line-height: 6rem;
    list-style: none;
    mix-blend-mode: difference;
}
.nav-main-link-wrapper:not(:last-child) {
    margin-bottom: 4rem;
}
.nav-main-link-wrapper:last-child {
    margin-left: 1.8rem;
}

.nav-main-link {
    border-radius: 100px;
    color: var(--White100);
    padding: 0 2rem;
    transition: background-color .1s linear,
                border-bottom-color .175s linear,
                color .175s linear;
}
.nav-main-link:hover {
    background-color: var(--White100);
    color: var(--Black100);
}

.nav-main-link>.link-underline-solid {
    border-bottom-color: var(--White20);
    border-bottom-width: 3px;
}
.nav-main-link:hover>.link-underline-solid {
    border-bottom-color: transparent;
}

.top-section {
    color: var(--White32);
    min-height: 0;
    height: 10rem;
    position: absolute;
    width: 100%;
    top: 3.6rem;
}

.top-section a { 
    color: var(--White32);
}
.top-section a:hover {
    color: var(--White100);
}

.top-section a.link-underline-solid,
.top-section a.link-underline-dashed { 
    border-bottom-color: var(--White16);
}
.top-section a.link-underline-solid:hover,
.top-section a.link-underline-dashed:hover { 
    border-bottom-color: var(--White100);
}

.about-cont {
    position: absolute;
    left: 18%;
    z-index: 2;
}

.about-cont>div:not(:last-child) {
    margin-bottom: .8rem;
}

.red-star {
    color: var(--Red100);
}


/* We design */

.we-design {
    margin-top: 12rem;
}

.we-design .mainpage-section-header-wrapper {
    display: inline-block;
    margin-left: 18%;
    min-height: 50rem;
    vertical-align: top;
}

.we-design .mainpage-section-header {
    color: var(--White100);
    mix-blend-mode: difference;
    position: sticky;
    position: -webkit-sticky;
    top: 20rem;
}
.we-design .mainpage-section-header::after {
    background-color: var(--White100);
}

.we-design .nav-main {
    display: inline-block;
}

.button-buy-design-wrapper {
    display: inline-block;
    position: absolute;
    top: 18%;
    right: 6%;
}



/* Achievments */

.achievements-cont {
    margin-left: 18%;
    margin-top: 28rem;
    min-height: 40vh;
}

.achiev-item {
    display: inline-flex;
}
.achiev-item:not(:last-child) {
    margin-right: 8.8rem;
}

.achiev-digit {
    font-weight: 300;
    font-size: 13.2rem;
    display: inline-block;
    line-height: 10.65rem;
    vertical-align: top;
}

.achiev-item:nth-child(2) .achiev-digit:after {
    content: '+';
    font-weight: 260;
    margin: .8rem 0 0 -1.3rem;
    position: absolute;
}

.achiev-text {
    color: var(--Gray100);
    display: inline-block;
    mix-blend-mode: difference;
    vertical-align: top;
}



/* Works */

.works-wrapper {
    display: grid;
    grid-auto-flow: row dense;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 60vh);
    grid-column-gap: 4rem;
    grid-row-gap: 10rem;
}

.works-wrapper>.mainpage-section-header {
    margin-left: 36%;
    margin-top: 20rem;
}

.works-wrapper .mainpage-section-header::after {
    margin: 3.2rem 0 0 1.2rem;
    position: absolute;
    top: auto;
    width: 18%;
}

.work-cont {
    grid-row: span 1;
}

.work-cont-half {
    grid-column: span 1;
    max-width: calc((100vw - 4rem) / 2);
}

.work-cont-half-high {
    grid-column: span 1;
    grid-row: span 2;
}
.work-cont-half-high .work-pic-cont {
    min-height: calc(120vh + 12rem);
}

.work-cont-full {
    grid-column: span 2;
}

.work-pic-cont {
    background: #f5f5f5; /* удалить при релизе */
    min-height: 60vh;
    width: 100%
}

.work-pic {
    display: block;
    height: inherit;
    width: inherit;
    max-width: 100%;
}

.work-pic-img {
    display: block;
    height: inherit;
    width: inherit;
}

.work-name-cont {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    line-height: 2.8rem;
    margin: 1.2rem 0 0 2.8rem;
    width: calc(100% - 5.6rem);
}

.work-name {
    
}

.work-site-link-cont {
    margin-left: 4rem;
}

.work-site-link {
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: .02em;
    white-space: nowrap;
    text-transform: uppercase;
}

.work-site-link::after {
    background-image: url("data:image/svg+xml,%3Csvg width='13' height='12' viewBox='0 0 13 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6378 1.07747C9.91381 1.39856 9.15482 1.65 8.58297 1.65H2.40719V0L12.4072 0V10H10.7572V3.82495C10.7572 3.17837 10.9541 2.61792 11.3369 1.80361C10.8759 2.55933 10.5549 3.02175 10.083 3.49095L1.99877 11.5751L0.832031 10.4084L8.82172 2.41875C9.28593 1.8864 9.9264 1.45522 10.6378 1.07747Z' fill='#0055ff'/%3E%3C/svg%3E");
    content: '';
    display: inline-block;
    height: 1.2rem;
    margin-left: .3rem;
    position: relative;
    top: .1rem;
    transition: transform .1s ease-in-out;
    width: 1.3rem;
}
.work-site-link:hover::after {
    transform: translateX(2px) translateY(-2px);
}

.work-site-link>.link-underline-solid {
    border-bottom-color: var(--Blue32);
}

.button-showmore-wrapper {
    margin-top: 6.4rem;
}

.button-showmore {
    background: var(--Blue100);
    color: var(--White100);
    display: block;
    margin: 3.2rem auto 0;
    padding: 3.2rem 13.2rem;
}



/* Clients */

.clients-cont {
    margin-left: 18%;
    margin-top: 40rem;
    margin-right: 2.8rem;
}

.clients-list {
    font-family: var(--font-serif);
    font-size: 7.1rem;
    line-height: 7rem;
}



/* Team */

.team-cont {
    margin-left: 18%;
    margin-top: 32rem;
}

.player-cont-wrapper {
    display: inline;
}

.player-cont {
    display: inline-block;
    margin-right: 2rem;
}
.player-cont:not(:first-child) {
    margin-top: 4rem;
}

.player-photo,
.player-name-cont,
.player-name,
.player-job-title {
    display: inline-block;
}

.player-photo {
    margin-right: 1.2rem;
    position: relative;
    top: -.8rem;
    vertical-align: middle;
}

.player-photo-img {
    background: var(--Black4);
    border: none;
    border-radius: 100px;
    height: 8rem;
    width: 8rem;
}

.player-name-cont {
    font-size: 5.2rem;
    line-height: 5.8rem;
}

.player-name {
    font-family: var(--font-serif);
    font-size: 5.2rem;
}
.player-cont:not(:last-child) .player-name::after {
    content: ',';
    font-size: 5.2rem;
    font-family: var(--font-serif);
    margin-left: .4rem;
}

.player-name>a {
    border-color: var(--Black16);
    color: var(--Black100);
}
.player-name>a:hover {
    border-color: var(--Blue32);
    color: var(--Blue100);
}

.player-job-title {
    color: var(--Gray100);
    margin-left: -2.8rem;
    top: -.8rem;
    position: relative;
}
.player-cont:last-child .player-job-title {
    margin-left: -1.2rem;
}

.button-vacancies-wrapper {
    display: inline-block;
}
.button-vacancies-wrapper::before {
    content: '+';
    font-size: 2.4rem;
    margin-right: .4rem;
}



/* Contacts mainpage container */

.big-contacts-cont {
    margin-top: 32rem;
    margin-left: 18%;
}

.big-contacts-cont>.mainpage-section-header::after {
    display: none;
}

.big-contacts-inner {
    margin-top: 16rem;
    display: flex;
}

.big-contacts-inner .tel-email-wrapper {
    display: flex;
    font-size: 2.8rem;
    line-height: 3.6rem;
}

.big-contacts-inner .link-email.link-underline-solid {
    border-bottom-width: 2px;
    border-bottom-color: var(--Black16);
    color: var(--Black100);
    letter-spacing: -.02em;
    margin-left: 4rem;
}
.big-contacts-inner .link-email.link-underline-solid:hover {
    border-bottom-color: var(--Blue16);
    color: var(--Blue100);
}

.big-contacts-inner .social-links-wrapper {
    display: flex;
    margin-left: 12.6rem;
}

.big-contacts-inner .social-link-wrapper:not(:last-child) {
    height: 4.4rem;
    width: 4.4rem;
}
.big-contacts-inner .social-link-wrapper:not(:last-child) {
    margin-right: 3.2rem;
}

.big-contacts-inner .social-link {
    display: block;
}

.big-contacts-inner .social-link .icon-svg>use {
    fill: var(--Black100);
    transition: fill .174s ease-in-out;
}
.big-contacts-inner .social-link:hover .icon-svg>use {
    fill: var(--Blue100);
}






/* Static pages */

.page-cont {
    margin-left: 18%;
    margin-top: 16rem;
    margin-right: 2.8rem;
}

.page-cont:first-child {
    margin-top: 6.4rem;
}

.link-close-page {
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    right: 2.8rem;
    top: 3.2rem;
    transition: transform .1s ease-in-out;
    z-index: 2;
}
.link-close-page:hover {
    transform: scale(1.125);
}



/* Order */

.form-order {
    margin-top: 7.2rem;
}

.switcher-cont {
    margin-bottom: 7.2rem;
    overflow: hidden;
}

.switcher-cont > * {
    display: inline-block;
    vertical-align: middle;
}

.switcher-cont > input[type="radio"] + label,
.switcher-cont > input[type="radio"]:checked + label {
    background-color: transparent;
    border-radius: 0;
    border-width: 0 0 1px 0;
    float: none;
    font-size: 2.8rem;
    line-height: 3.2rem;
    margin: 0;
    padding: 0 0 .4rem 0;
    position: relative;
    text-align: left;
    z-index: 2;
}
.switcher-cont > input[type="radio"] + label {
    color: var(--Gray100);
}
.switcher-cont > input[type="radio"]:checked + label {
    color: var(--Blue100);
}

.switcher-bg {
    background: linear-gradient(293.78deg, #F5F5F5 58.44%, #EAEAEA 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF), #F5F5F5;
    border-radius: 100px;
    height: 6.4rem;
    margin: 0 2rem;
    padding: .3rem;
    width: 12.4rem;
}

.switcher-switch {
    background: radial-gradient(64.66% 64.66% at 31.03% 28.45%, #0088FF 1.18%, #0055FF 100%);
    border-radius: 100px;
    height: 5.8rem;
    width: 5.8rem;
    box-shadow: 1px 1px 3px rgba(0, 51, 153, 0.56),
                inset 4px 4px 16px rgba(255, 255, 255, 0.32),
                inset -6px -8px 16px rgba(0, 34, 68, 0.12);
}

.order-project-type-tabs {
    max-width: 80rem;
}

.radio-buttons-cont {
    margin: 3.2rem 0 5.6rem;
    overflow: hidden;
}

.form-order .input-wrapper {
    max-width: 52rem;
}



/* Vacancies */

.page-cont-vacancies {}

.page-cont-vacancies>h2 {
    max-width: 80rem;
    line-height: 6rem;
}

.page-cont-vacancies>.page-section-header::after {
    display: none;
}

.vacancies-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 10rem;
    margin-top: 8rem;
}

.vacancy-cont {
    grid-column: span 1;
    grid-row: span 1;
    max-width: 40rem;
}

.vacancy-cont h4 {
    font-family: var(--font-serif);
}

.vacancy-cont-button-send {
    font-size: 2rem;
    margin-top: 1.8rem;
}



/* Footer */

footer {
    color: var(--Gray100);
    margin-top: 6rem;
    padding: 3.2rem 2.8rem 2.4rem 18%;
}

footer a {
    color: var(--Gray100);
}
footer a:hover {
    color: var(--Black100);
}

footer div {
    display: inline-block;
}

footer>div:not(:first-child) {
    margin-left: 8rem;
}

.contacts-footer-inner:not(:last-child),
.social-links-footer>.social-link-wrapper:not(:last-child),
.vacancies-partnership-link-wrapper:not(:last-child) {
    margin-right: 3.2rem;
}

.copyright {
    float: right;
}



/* Adaptiv_ochka */

@media (min-width: 1340px) {

}



@media (max-width: 460px) {

    header {
        padding: 1.6rem .8rem;
    }

    .works-wrapper {
        grid-column-gap: 0;
        grid-template-columns: 100%;
    }

    .works-wrapper > .mainpage-section-header {
        margin-left: 0.8rem;
        margin-top: 0;
    }

    .work-cont-half,
    .work-cont-full {
        grid-column: span 1;
        max-width: 100% !important;
    }

    .work-name-cont {
        display: block;
        margin-left: .8rem;
        width: calc(100% - 1.6rem);
    }

    .work-site-link-cont {
        margin: .4rem 0 0;
    }

    .button-showmore {
        padding: 2.8rem 8.8rem;
    }

    .clients-cont {
        margin: 20rem .8rem 0;
    }

    .team-cont {
        margin: 20rem .8rem 0;
    }
}