@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

/* Kontora.cc CSS v.0.0 */
/* Kontora, 07.2020 */

:root {
    --Black100: rgba(0, 0, 0, 1);
    --Black92: rgba(0, 0, 0, .92);
    --Black64: rgba(0, 0, 0, .64);
    --Black56: rgba(0, 0, 0, .56);
    --Black32: rgba(0, 0, 0, .32);
    --Black20: rgba(0, 0, 0, .2);
    --Black16: rgba(0, 0, 0, .16);
    --Black6: rgba(0, 0, 0, .06);
    --Black4: rgba(0, 0, 0, .04);

    --LightBlack100: #252525;

    --Gray100: #AFAFAF;

    --White100: rgba(255, 255, 255, 1);
    --White56: rgba(255, 255, 255, .56);
    --White40: rgba(255, 255, 255, .4);
    --White32: rgba(255, 255, 255, .32);
    --White28: rgba(255, 255, 255, 0.28);
    --White20: rgba(255, 255, 255, 0.2);
    --White16: rgba(255, 255, 255, .16);

    --Green100: #CCFF00;

    --Blue100: #0055FF;
    --Blue56: rgba(0, 85, 255, .56);
    --Blue32: rgba(0, 85, 255, .32);
    --Blue16: rgba(0, 85, 255, .16);

    --Red100: #E6303B;

    --font-default: 'Inter var', sans-serif;
    --font-serif: 'Wremena', 'Times', 'Times New Roman', serif;
    --font-sweet: 'Nunito', 'Inter var', sans-serif;

    --widthxheight1000: calc((100vw - 14.4rem) / 4);
    --widthxheight1340: calc((100vw - 16.4rem) / 5);
}

@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url('fonts/Inter.var.woff2') format("woff2");
}

@font-face {
	font-family: 'Wremena';
	font-weight: normal;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url('fonts/wremena_regular-webfont.woff2') format('woff2'),
         url('fonts/wremena_regular-webfont.woff') format('woff');
}



.hidden {
    display: none !important;
}



/* CSS reset */

html,
body {
    border: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
address,
big,
cite,
code,
em,
font,
img,
small,
strike,
sub,
sup,
li,
ol,
ul,
fieldset,
form,
label,
legend,
button,
table,
caption,
tr,
th,
td {
    border: none;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    padding: 0;
    text-align: inherit;
}

blockquote::before,
blockquote::after {
    content: "";
}



/* Document Setup */

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s ease-in-out;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    background-color: var(--White100);
    box-sizing: border-box;
    color: var(--Black100);
    font-family: var(--font-default);
    font-size: 1.2rem;
    letter-spacing: -.02em;
    line-height: 117%;
    text-align: left;
}

main>section {
    min-height: 60vh;
}

/*main>section:not(:first-child) {
    margin-top: 14rem;
}*/

a {
    color: var(--Blue100);
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    letter-spacing: -.02em;
}

h1 {
    font-size: 6.4rem;
    line-height: 6rem;
}

h2 {
    font-size: 5.2rem;
    line-height: 4.4rem;
}

h3 {
    font-size: 4rem;
    line-height: 4.8rem;
}

h4 {
    font-size: 3.2rem;
    line-height: 3.6rem;
}

.section-subheader {
    font-size: 2.8rem;
    letter-spacing: -.02em;
    line-height: 3.6rem;
    margin-top: 3.6rem;
    max-width: 72rem;
}

.mainpage-section-header {
    display: inline-block;
    z-index: 1;
}
.mainpage-section-header::after {
    background: var(--Black100);
    content: '';
    display: inline-block;
    height: .45rem;
    margin: 0 1.2rem;
    position: relative;
    top: -1.6rem;
    width: 10rem;
}

.page-section-header {
    color: var(--Black100);
    display: inline-block;
}

.section-header-sup {
    display: inline-block;
    margin: -2.4rem 0 0 1.1rem;
    position: absolute;
}

.mainpage-section-header-sup {
    color: var(--Gray100);
}

.mainpage-section-header-sup-span {
    display: block;
    margin-left: -.8rem;
}

.page-section-header-sup {
    color: var(--Gray100);
}

p {
    font-size: 2rem;
    line-height: 2.8rem;
    margin: 1.2rem 0;
}

sup,
sub,
.font-small {
    font-size: 1.2rem;
    letter-spacing: -.02em;
    line-height: 1.4rem;
}

sup,
sub {
    display: inline-block;
    margin-left: .4rem;
}

label {
    font-size: 2rem;
}

.input-wrapper {
    margin-bottom: 3.6rem;
    position: relative;
}

.input-wrapper input[type="text"],
.input-wrapper input[type="email"],
.input-wrapper input[type="tel"],
.input-wrapper textarea {
    box-sizing: border-box;
    border-color: var(--Black100);
    border-style: solid;
    border-width: 0 0 3px 0;
    border-radius: 0;
    cursor: text;
    font-size: 2rem;
    line-height: 2.8rem;
    outline: 0;
    padding: 2.4rem 0 1.2rem;
    width: 100%;
    -webkit-transition: all 0.175s ease-in-out;
            transition: all 0.175s ease-in-out;
}

.input-wrapper input[type="text"] + label[data-placeholder],
.input-wrapper input[type="email"] + label[data-placeholder],
.input-wrapper input[type="tel"] + label[data-placeholder], 
.input-wrapper textarea + label[data-placeholder] {
    pointer-events: none;
}
.input-wrapper input[type="text"] + label[data-placeholder]:after,
.input-wrapper input[type="email"] + label[data-placeholder]:after,
.input-wrapper input[type="tel"] + label[data-placeholder]:after,
.input-wrapper textarea + label[data-placeholder]:after {
    content: attr(data-placeholder);
    cursor: text;
    color: var(--Gray100);
    font-size: 2rem;
    display: block;
    padding: 0;
    position: absolute;
    top: 4rem;
    left: 0;
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
    -webkit-transition: all 0.175s ease-in-out;
            transition: all 0.175s ease-in-out;
}

.input-wrapper input[type="text"]:hover,
.input-wrapper input[type="email"]:hover,
.input-wrapper input[type="tel"]:hover,
.input-wrapper textarea:hover,
.input-wrapper input[type="text"]:focus,
.input-wrapper input[type="email"]:focus,
.input-wrapper input[type="tel"]:focus,
.input-wrapper textarea:focus {
    border-bottom-color: var(--Blue100);
}
.input-wrapper input[type="text"]:valid,
.input-wrapper input[type="email"]:valid,
.input-wrapper input[type="tel"]:valid,
.input-wrapper textarea:valid {
    border-bottom-color: var(--Green100);
}
.input-wrapper input[type="text"]:focus + label[data-placeholder]:after,
.input-wrapper input[type="email"]:focus + label[data-placeholder]:after,
.input-wrapper input[type="tel"]:focus + label[data-placeholder]:after,
.input-wrapper textarea:focus + label[data-placeholder]:after,
.input-wrapper input[type="text"]:valid + label[data-placeholder]:after,
.input-wrapper input[type="email"]:valid + label[data-placeholder]:after,
.input-wrapper input[type="tel"]:valid + label[data-placeholder]:after,
.input-wrapper textarea:valid + label[data-placeholder]:after {
    -webkit-transform: translate(-10%, -280%) scale(0.8, 0.8);
            transform: translate(-10%, -280%) scale(0.8, 0.8);
    color: var(--Gray100);
}

button,
.button {
    background-color: var(--Black6);
    border-radius: 100px;
    color: var(--Black100);
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    padding: 2.4rem;
    transition: background-color .1s linear,
                color .1s linear,
                transform .175s ease-in-out;
}
button:hover,
.button:hover {
    background-color: var(--Black100);
    color: var(--White100);
    transform: translateY(-.6rem);
}

input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    border: 1.5px dotted var(--Black16);
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    float: left;
    padding: 1.6rem 2rem 1rem;
    text-align: center;
    transition: background-color .1s linear,
                border-color .1s linear,
                color .1s linear;
}
input[type="radio"] + label:not(:last-child) {
    margin-right: 1.2rem;
}

input[type="radio"] + label:hover {
    border-color: var(--Blue100);
    color: var(--Blue100);
}

input[type="radio"]:checked + label {
    cursor: default;
    border-color: var(--Blue100);
    background-color: var(--Blue100);
    color: var(--White100);
}

input[type="radio"] + label > .font-small {
    display: block;
    font-weight: 500;
    margin-top: .8rem;
    opacity: .4;
    transition: opacity .1s linear;
}

input[type="radio"] + label:hover > .font-small {
    opacity: 1;
}
input[type="radio"]:checked + label:hover > .font-small {
    opacity: .4;
}

.link-underline-solid {
    border-bottom: .5px solid;
}

.link-underline-dashed {
    border-bottom: .5px dashed;
}

.icon-svg {
    max-width: 4.4rem;
    max-height: 4.4rem;
}

video {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

* ,
* ::before,
* ::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
    word-break: break-word;
    word-wrap: break-word;
}

::selection {
    /*background: var(--Blue100);
    color: var(--White100);*/
    background: var(--Green100);
    color: var(--LightBlack100);
}



/* Base Transitions */

a {
    transition: color .175s linear, border-bottom-color .175s linear;
}



@media (min-width: 0) {
    .on-desktop-and-tablet {
        display: none;
    }

    .on-mobile {
        display: block;
    }

    .only-desktop {
        display: none;
    }
}

@media (min-width: 640px) {
    .on-desktop-and-tablet {
        display: block;
    }

    .on-mobile {
        display: none;
    }

    .only-desktop {
        display: none;
    }
}

@media (min-width: 1100px) {
    .only-desktop {
        display: block;
    }
}



/* Icons */

.icon-search-svg>use {
    fill: var(--White100);
}



/* Logo */

.logo {
    color: var(--White100);
    font-family: var(--font-serif);
    font-size: 2.4rem;
    line-height: 2.4rem;
}

.logo-sup {
    font-size: 1.4rem;
    font-family: var(--font-default);
    font-weight: 200;
    position: absolute;
    margin: 0 0 0 -.05rem;
}



/* Header */

header {
    color: var(--White32);
    mix-blend-mode: exclusion;
    padding: 3.2rem 2.8rem;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

header>div {
    display: inline-block;
}

header a { 
    color: var(--White32);
}
header a:hover {
    color: var(--White100);
}

header a.link-underline-solid,
header a.link-underline-dashed { 
    border-bottom-color: var(--White16);
}
header a.link-underline-solid:hover,
header a.link-underline-dashed:hover { 
    border-bottom-color: var(--White100);
}

.nav-header {
    display: none;
}

.button-buy-design {
    background: #99E0FF;
    box-shadow: 0px 2px 12px rgba(0, 148, 255, 0.64), 0px 12px 48px rgba(0, 148, 255, 0.8), inset 1px 1px 0px rgba(255, 255, 255, 0.44), inset -1px -1px 0px #0161BB, inset -1px -1px 2px #0269C9, inset 1px 1px 2px rgba(255, 255, 255, 0.72), inset 0px -8px 12px #0178E7, inset 0px -24px 20px #41B1E2;
    padding: 1.3rem 2.4rem 1.6rem;
    transition: transform .175s ease-in-out, box-shadow .25s ease-in-out;
}

.button-buy-design:hover {
    background: #99E0FF;
    box-shadow: 0px 12px 48px rgba(0, 148, 255, 0.72), 0px 28px 160px rgba(0, 148, 255, 1), inset 1px 1px 0px rgba(255, 255, 255, 0.24), inset -1px -1px 0px #0161BB, inset -1px -1px 2px #0269C9, inset 1px 1px 2px rgba(255, 255, 255, 0.44), inset 0px -4px 12px #0178E7, inset 0px -20px 16px #41B1E2;
    transform: translateY(-1.2rem);
}

.button-buy-design:before {
    content: '🛒';
    display: inline-flex;
    font-size: 6rem;
    line-height: 5rem;
    margin-right: .8rem;
    vertical-align: top;
    position: relative;
    top: .8rem;
    text-shadow: 3px 3px 5px #41B1E2, 1px 1px 2px rgba(1, 120, 231, 0.24);
    transition: text-shadow .25s ease-in-out;
}
.button-buy-design:hover::before {
    text-shadow: 2px 3px 3px #41B1E2, 0 1px 1px rgba(1, 120, 231, 0.32);
}

.button-buy-design-sign {
    color: #F6F6F6;
    display: inline-block;
    font-family: var(--font-sweet);
    font-size: 3rem;
    font-weight: 800;
    line-height: 2.8rem;
    letter-spacing: -0.02em;
    text-shadow: 1px 1px 2px rgba(1, 120, 231, 0.24), 3px 3px 5px #41B1E2;
    vertical-align: top;
    transition: text-shadow .25s ease-in-out;
}
.button-buy-design:hover .button-buy-design-sign {
    text-shadow: 0 1px 1px rgba(1, 120, 231, 0.32), 2px 3px 3px #41B1E2;
}



/* Static pages */

.page-cont {
    margin-left: 18%;
    margin-top: 16rem;
    margin-right: 2.8rem;
}

.page-cont:first-child {
    margin-top: 6.4rem;
}

.link-close-page {
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    right: 2.8rem;
    top: 3.2rem;
    transition: transform .1s ease-in-out;
    z-index: 2;
}
.link-close-page:hover {
    transform: scale(1.125);
}



/* Adaptiv_ochka */

@media (min-width: 1340px) {

}



@media (max-width: 460px) {

    header {
        padding: 1.6rem .8rem;
    }

}